---
import AboutPhoto from "../assets/Foto-Crystal.jpg";
import about from "../data/about.json";
import FlagDR from "../assets/flag-dr.png";
import ListItem from "./ListItem.astro";

const { education, experience, certifications } = about;
---

<style>
    
</style>

<section class="flex flex-col md:flex-row md:space-x-3 mx-4 md:mx-14 my-4">
    <div class="basis-4/6 border-solid border-2 border-black p-10">
        <div class="flex justify-center mb-2">
            <h2 class="text-4xl font-indie-flower font-black">About</h2>
        </div>

        <p class="text-lg text-justify font-lexend font-light">
            I enjoy designing and building interactive and attractive visual
            experiences, for web and mobile applications. I grew up in the
            Dominican Republic, where I found my love for programming during my
            school years.
        </p>

        <div class="mt-10">
            <p class="font-indie-flower font-black text-3xl pb-5">Education</p>
            <ul class="font-lexend font-light text-lg">
                {
                    education.map((item) => (
                        <ListItem
                            content={item.content}
                            imagePath={item.image}
                            alt={item.alt}
                        />
                    ))
                }
            </ul>
        </div>
        <div class="mt-10">
            <p class="font-indie-flower font-black text-3xl pb-5">
                Work Experience
            </p>
            <ul class="font-lexend font-light text-lg space-y-9">
                {
                    experience.map((item) => (
                        <ListItem
                            content={item.content}
                            imagePath={item.image}
                            alt={item.alt}
                        />
                    ))
                }
            </ul>
        </div>
        <div class="mt-10">
            <p class="font-indie-flower font-black text-3xl pb-5">
                Certifications
            </p>
            <ul class="font-lexend font-light text-lg space-y-9">
                {
                    certifications.map((item) => (
                        <ListItem
                            content={item.content}
                            imagePath={item.image}
                            alt={item.alt}
                        />
                    ))
                }
            </ul>
        </div>
    </div>
    <div class="my-4 md:my-0 md:basis-2/6 border-solid border-2 border-black">
        <img src={AboutPhoto.src} alt="Crystal Duran in cap and gown" width="200" height="200"class="w-full h-full object-cover"/>
    </div>
</section>
