---
import LogoLight from "../assets/logo-2.png";
import LogoDark from "../assets/logo-white.webp";
import ThemeIcon from "./ThemeIcon.astro";
---

<style>
    /* Styles for the menu on medium and large devices */
    .menu-large {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
</style>

<header class="p-2">
    <!-- Menu for medium and large devices -->
    <nav class="hidden md:flex justify-center font-lexend menu-large pt-2 dark:text-zinc-100">
        <ul
            class="flex flex-row space-x-9 items-center border-solid border-2 border-black dark:border-zinc-100 m-6 py-1 px-5 text-lg bg-zinc-50 dark:bg-[#121214]"
        >
            <li>
                <a href="#">
                    <img
                        src={LogoLight.src}
                        alt="Cat logo"
                        width="50"
                        height="50"
                        class="dark:hidden"
                    />
                    <img
                        src={LogoDark.src}
                        alt="Cat logo"
                        width="50"
                        height="50"
                        class="hidden dark:block"
                    />
                </a>
            </li>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><ThemeIcon /></li>
        </ul>
    </nav>

    <!-- Menu for small devices -->
    <header class="md:hidden">
        <nav class="flex justify-between items-center pt-2 pb-4">
            <!-- Menu icon -->
            <div id="menu-toggle" class="cursor-pointer">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-10 w-10 text-black dark:text-white pl-3"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </div>

            <!-- Logo in the middle -->
            <div class="flex justify-center items-center">
                <a href="#">
                    <img
                        src={LogoLight.src}
                        alt="Cat logo"
                        width="50"
                        height="50"
                        class="dark:hidden"
                    />
                    <img
                        src={LogoDark.src}
                        alt="Cat logo"
                        width="50"
                        height="50"
                        class="hidden dark:block"
                    />
                </a>
            </div>

            <!-- Empty space to balance the layout -->
            <div class="w-8"></div>
        </nav>

        <!-- Modal menu -->
        <div
            id="menu"
            class="hidden fixed inset-0 flex-col justify-center items-center bg-zinc-100 dark:bg-[#121214] z-50 font-lexend"
        >
            <!-- Button to close the menu -->
            <div class="absolute top-4 right-4 cursor-pointer" id="menu-close">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-8 w-8 dark:text-white"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </div>
            <!-- Logo on mobile menu -->
            <div class="mb-10 mt-5 flex justify-center">
                <a href="#">
                    <img
                    src={LogoLight.src}
                    alt="Cat logo"
                    width="120"
                    height="120"
                    class="dark:hidden"
                />
                <img
                    src={LogoDark.src}
                    alt="Cat logo"
                    width="120"
                    height="120"
                    class="hidden dark:block"
                />
                </a>
            </div>
            <!-- Navigation links -->
            <div
                class="flex flex-col items-center border-solid border-2 border-black dark:border-zinc-100 mx-5 p-10 dark:text-zinc-200"
            >
                <a href="#about" class="text-4xl mb-10">About</a>
                <a href="#projects" class="text-4xl mb-10">Projects</a>
                <a href="#skills" class="text-4xl mb-10">Skills</a>
                <a href="#contact" class="text-4xl mb-10">Contact</a>
            </div>
        </div>
    </header>
</header>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.getElementById("menu-toggle");
        const menuClose = document.getElementById("menu-close");
        const menu = document.getElementById("menu");

        menuToggle?.addEventListener("click", function () {
            menu?.classList.toggle("hidden");
        });

        menuClose?.addEventListener("click", function () {
            menu?.classList.add("hidden");
        });

        // Script for smooth scrolling with offset
        const offset = 90; // Value set according to the height of the menu
        const links =
            document.querySelectorAll<HTMLAnchorElement>("a[href^='#']");

        links.forEach((link) => {
            link.addEventListener("click", function (e) {
                e.preventDefault();
                const targetId = this.getAttribute("href")?.substring(1); // Gets the target ID without the '#'
                const targetElement = targetId
                    ? document.getElementById(targetId)
                    : null;

                if (targetElement) {
                    // Scroll to the target element with a smooth animation, adjusted for the menu height
                    window.scrollTo({
                        top: targetElement.offsetTop - offset,
                        behavior: "smooth",
                    });
                    // Close the mobile menu if it is open
                    if (!menu?.classList.contains("hidden")) {
                        menu?.classList.add("hidden");
                    }
                }
            });
        });
    });
</script>
