---
import Nepesa from "../assets/nepesa.png";
import AstroLogo from "../assets/astro-logo.png";
import TypeScript from "../assets/ts-logo.png";
import TailwindCss from "../assets/tailwindcss-logo.png";
import ProjectCard from "./ProjectCard.astro";
import projectsData from "../data/projects.json";
const { projects } = projectsData;
---

<section
    id="projects"
    class="flex flex-col mx-4 md:mx-14 my-4 pb-10 px-2 md:px-0 border-solid border-2 border-black"
>
    <div class="flex justify-center mb-2 pt-10 pb-5 px-2">
        <h2 class="text-4xl font-indie-flower font-black">Projects</h2>
    </div>
    {
        projects.map((project) => (
            <ProjectCard
                title={project.title}
                year={project.year}
                description={project.description}
                technologies={project.technologies}
                projectImage={project.projectImage}
                githubLink={project.githubLink}
                liveLink={project.liveLink}
            />
        ))
    }
</section>
