---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
    name: string;
    level: string;
    imagePath: string;
    alt: string;
}

const { name, level, imagePath, alt } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/*.{jpeg,jpg,png,gif}",
);

if (!images[imagePath])
    throw new Error(
        `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
    );
---

<div class="flex flex-col lg:flex-row gap-x-3 border-solid border border-black dark:border-zinc-100 bg-white dark:bg-[#0E0E10] p-4">
    <div>
        <Image src={images[imagePath]()} alt={alt} width="80" height="80" />
    </div>
    <div class="flex flex-col pt-3">
        <p class="text-base md:text-xl dark:text-zinc-100">{name}</p>
        <p class="text-sm md:text-base dark:text-gray-200">{level}</p>
    </div>
</div>
